.sidebare{
    width: 24%;
    margin-top: 75px;
}
hr{
    opacity: 0.3;
    margin-left: 5px;
    width: 90%;
}
.shorts{
    display: flex;
    color: aliceblue;
    padding: 5px;
    transition: 0.5s;
}
.sidebare__bottom > h3 {
    color: #ABAEB2;
    text-align: center;
}
.shorts > p {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 8px;
    font-weight: 600;
}
.shorts > i {
    margin-top: auto;
    margin-bottom: auto;
}
.shorts:hover{
    background-color: rgb(47,48,49);
    border-radius: 30px;
}
@media only screen and (min-width: 100px) and (max-width: 500px) {
    .sidebare{
        display: none;
    }
}
@media only screen and (min-width: 501px) and (max-width: 700px){
    .sidebare{
        display: none;
    }
}

@media only screen and (min-width: 701px) and (max-width: 950px){
    .sidebare{
        width: 34%;
    }
}