.sponserd{
    color: white;
    width: 20%;
    margin-left: auto;
    margin-top: 60px;
}
.sponserd > h3, h4 {
    color: #ABAEB2;
}
.pages{
    display: flex;
}
.pages > i {
    margin-top: auto;
    margin-bottom: auto;
}
.pages > p {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}
.notes{
    margin-left: 20px;
    color: #ABAEB2;
}
.notes > p{
    padding: 3px;
    transition: 0.5s;
}
.notes > p:hover{
    background-color: #b9bdc473;
    border-radius: 10px;
    color: #414242;
}
.groups{
    display: flex;
    transition: 0.5s;
}
.groups:hover{
    background-color: #b9bdc473;
    border-radius: 10px;
    padding: 3px;
}
.groups > i {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 20px;
    margin-right: 10px;
}
.groups > p {
    margin-top:12px;
}

@media only screen and (min-width: 100px) and (max-width: 500px) {
    .sponserd{
        display: none;
    }
}
@media only screen and (min-width: 501px) and (max-width: 700px){
    .sponserd{
        display: none;
    }
}

@media only screen and (min-width: 701px) and (max-width: 950px){
    .sponserd{
        display: none;
    }
}